.Cell {
    position: relative;
}

.Cell .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}